body {
    font-family: helvetica,arial,sans-serif;
}
#header_bell_notificator {
    float:left;
    width: 30px;
    height: 30px;
    margin: 5px;
    position: relative;
}
#header_bell_notificator:before {
    content: attr(data-counter);
    position: absolute;
    line-height: 30px;
    width: 30px;
    text-align: center;
    color: #fff;
    font-size: .8em;
    font-weight: bold;
}

.show_notif{
    visibility: hidden;
}
